{% extends "index.html" %}
<body style="color: var(--bs-body-color);font-family: Ubuntu, sans-serif;">
{% block content %}
    {% block nav %}
        {{ super() }}
    {% endblock %}
    <div class="container-fluid py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Projects</h2>
                <p class="w-lg-50">Some cool things that I have worked on or am still working on.</p>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-3">
            {% for project in projects %}
                <div class="col">
                    <div class="card" style="border-style: none;border-radius: 16px;box-shadow: 0 0 20px 1px var(--bs-secondary-bg);">
                        <div class="card-body">
                            <div class="d-flex flex-column flex-lg-row">
                                <div class="w-100"><img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px" src="{{ url_for('static', filename='assets/img/me.webp') }}" alt="An Image"></div>
                                <div class="py-4 py-lg-0 px-lg-4">
                                    <h4>{{project['title']}}</h4>
                                    <p>{{project['description']}}</p>
                                    <a href="/project/{{project['title']}}" class="btn btn-primary" role="button" style="background: linear-gradient(90deg, #0693d0, var(--bs-info-text-emphasis) 100%);">More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </body>
{% endblock %}